# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.coverage
build/
dist/

# Mac
.DS_Store

# Editor
.vscode/
.idea/
*.swp

# Source data (accessed via symlink, not redistributed)
tesselace_catalog


# Local virtual envs
venv/
.venv/
*.orig
*.rej
*.patch
